
    <% include partials/loggerHeader %>
      <div class="container">
        <div class="card-deck mb-3 mt-5 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Expenses</h4>
            </div>
            <div class="card-body">
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Product name</h6>
                  </div>
                  <span class="text-muted">$12</span>
                  <div>
                    <button type="button" name="button" class="btn btn-sm fa fa-pencil"></button>
                    <button type="button" name="button" class="btn btn-sm fa fa-trash"></button>
                  </div>
                </li>
                <a href="/Expenses" class="btn btn-dark">Add Expenses</a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Income</h4>
            </div>
            <div class="card-body">
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">Product name</h6>
                  </div>
                  <span class="text-muted">$12</span>
                  <div>
                    <button type="button" name="button" class="btn btn-sm fa fa-pencil"></button>
                    <button type="button" name="button" class="btn btn-sm fa fa-trash"></button>
                  </div>
                </li>
                <a href="/Income" class="btn btn-dark">Add Income</a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Totals</h4>
            </div>
            <div class="card-body">
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0 font-weight-normal" >Product name</h6>
                  </div>
                </li>
            </div>
          </div>
        </div>
      </div>
